#demo.carousel.slide{"data-ride" => "carousel", "id" => "carousel"}
  %ul.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %img{:alt => "Los Angeles", :height => "800", :src => "http://www.bestfon.info/images/joomgallery/originals/comida_9/comida_46_20120413_1185044355.jpg", :width => "1100"}/
      .carousel-caption
    .carousel-item
      %img{:alt => "Chicago", :height => "800", :src => "https://canales.okdiario.com/vida-sana/img/2016/02/comida-rapida22.jpg", :width => "1100"}/
      .carousel-caption
    .carousel-item
      %img{:alt => "New York", :height => "800", :src => "http://cdn3.upsocl.com/wp-content/uploads/2015/04/comida-mexicana.jpg", :width => "1100"}/
      .carousel-caption
    .carousel-item
      %img{:alt => "Chicago", :height => "800", :src => "https://canales.okdiario.com/vida-sana/img/2016/02/comida-rapida22.jpg", :width => "1100"}/
      .carousel-caption