.col-12.order-sm-4.col-md-12.email1
  .row.email
    .col-12.col-md-8
      .row
        .col-3
          .carta
            %i.fa.fa-3x.fa-envelope-o{"aria-hidden" => "true"}
        .col-9.texemail
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
    .col-12.col-md-4
      .row.email2
        .col-7
          %input.form-control{:placeholder => "Email", :type => "text"}/
        .col-4
          %button.tambot Subscribe