.col-12.order-sm-5
  .row.footer.justify-content-between
    .col-6
      .row
        .col-4.footer1
          Privacity Policy
        .col-4.footer1.bordef
          Terms of User
        .col-4.footer1.f2
          Contact
    .col-5
      .row.iconfooter.flex-row-reverse
        .col-2.iconf
          %i.fa.fa-2x.fa-wifi{"aria-hidden" => "true"}
        .col-2.iconf
          %i.fa.fa-2x.fa-facebook.center{"aria-hidden" => "true"}
        .col-2.iconf
          %i.fa.fa-2x.fa-twitter{"aria-hidden" => "true"}