.col-12.order-sm-5
  .row.fotito
    .col-12.col-sm-6.col-md-3.secf
      .row
        .col-12
          %img.foto(src="http://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2017/04/comidarapida.jpg" alt="")/
        .col-12
          .titufoticos
            Recipes from a Sunday Supper
        .col-12.desfoticos
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
        .col-12
          .row
            .col-6.fecha
              May 15,2012/
            .col-2.read
              Read>>
 
    .col-12.col-sm-6.col-md-3.secf
      .row
        .col-12
          %img.foto(src="https://ugc.kn3.net/i/origin/https://userscontent2.emaze.com/images/8b2562d8-0657-43d4-a109-1f1cb1073534/9891182a-816c-46be-b177-c602eeeade48.jpg" alt="")/
        .col-12
          .titufoticos
            Join us on Pinterest!
        .col-12.desfoticos
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
        .col-12
          .row
            .col-6.fecha
              May 15,2012/
            .col-2.read
              Read>>
          
    .col-12.col-sm-6.col-md-3.secf
      .row
        .col-12
          %img.foto(src="https://d25rq8gxcq0p71.cloudfront.net/language-guide/758/pepperoni%20pizza.jpg" alt="")/
        .col-12
          .titufoticos
            How Make Vegeteble Ships
        .col-12.desfoticos
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
        .col-12
          .row
            .col-6.fecha
              May 15,2012/
            .col-2.read
              Read>>
            
    .col-12.col-sm-6.col-md-3.secf
      .row
        .col-12
          %img.foto(src="http://www.bestfon.info/images/joomgallery/originals/comida_9/comida_46_20120413_1185044355.jpg" alt="")/
        .col-12
          .titufoticos
            2012's Best Summer Cookbooks
        .col-12.desfoticos
          Sign up for our newsletter to resive a handcked slection of the best stories, recipes, and news, delivered weekly yo you inbox.
        .col-12
          .row
            .col-6.fecha
              May 15,2012/
            .col-2.read
              Read>>
            




