.col-12.col-sm-9.order-sm-2.col-lg-12
  .row.justify-content-around.sidebar
    .col-3.col-lg-12
      .row  
        .col-12.d-none.d-md-block.iconoheader.col-lg-4
          %i.fa.fa-2x.fa-cutlery{"aria-hidden" => "true"}
      .row
        .col-12.texto.p-0.col-lg-8
          Tastemakers
    .col-2.col-lg-12
      .row
        .col-12.d-none.d-md-block.iconoheader.col-lg-4
          %i.fa.fa-2x.fa-book{"aria-hidden" => "true"}
      .row
        .col-12.texto.p-0.col-lg-8
          Blog
    .col-3.col-lg-12
      .row
        .col-12.d-none.d-md-block.iconoheader.col-lg-4
          %i.fa.fa-2x.fa-check-square-o{"aria-hidden" => "true"}
      .row
        .col-12.texto.p-0.col-lg-8
          The A-List
    .col-2.col-lg-12
      .row
        .col-12.d-none.d-md-block.iconoheader.col-lg-4
          %i.fa.fa-2x.fa-camera{"aria-hidden" => "true"}
      .row
        .col-12.texto.p-0.col-lg-8
          Contribute
    .col-2.col-lg-12
      .row
        .col-12.d-none.d-md-block.iconoheader.col-lg-4
          %i.fa.fa-2x.fa-address-book{"aria-hidden" => "true"}
      .row
        .col-12.texto.p-0.col-lg-8
          About

