.col-12.order-sm-3.d-lg-12
  .row.bord
    .col-12.d-md-none
      .pie1
        Read, Learn, Share
      =image_tag "food.jpg"
      .pie2
        Get daily how-tos, stories & updates whith the latest news.
    .col.d-none.d-md-block.d-md-12.carousel
      =render "home/caraousel"
      .pie1
        Read, Learn, Share
      .pie2
        Get daily how-tos, stories & updates whith the latest news.
      .col-12.piecar2
        .row.justify-content-around.sidebar.piecar
          .col-3.texto.backpiecar
            Tastemakers
            %p.d-none.d-lg-block
              Feast tour eyes &get recipes!
          .col-3.texto.backpiecar
            Blog
            %p.d-none.d-lg-block
              News, how-tos, stories,and more
          .col-3.texto.backpiecar
            The A-List
            %p.d-none.d-lg-block
              Handpicked, absolutes favorites
          .col-3.texto.backpiecar 
            Contribute
            %p.d-none.d-lg-block
              We want to hear from you!
    .col-12
      .pie3
        *photo by Clare Barboza
