.col-lg-12.d-none.d-lg-block
	.row
		.col-12.twbord
			LATEST TWEET
		.col-12
			.row.twbord2
				.col-2
					%i.fa.fa-twitter{"aria-hidden" => "true"}
				.col-10
					Joing the Conversation
	.row
		.col-12.twbord
			LATEST FRIENDS
		.col-12.twfontmini
			For weekly finds, comunity recomendation, and more, like us on Facebook.
		.col-12
			.row.twbord2
				.col-2
					%i.fa.fa-facebook{"aria-hidden" => "true"}
				.col-10
					Joing the Community